#root {
  padding: 2rem;
  text-align: center;
}

.NoListItemBullet {
  list-style-type: none;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px;
  font-size: 0.8vw;
}

.nextButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  font-size: 0.8vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  height: 40vw;
}

.header {
  font-size: 5.5vw;
}

.button {
  margin: 0 auto;
  font-size: 1.2vw;
}

.answerButtonsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.disabled {
  opacity: 0.6;
  cursor: initial;
}

#redText {
  color: red;
}

.nameInput {
  margin-right: 20px;
  display: inline-block;
  font-size: 1.2vw;
  border-radius: 0;
  border: 1px solid lightgray;
}

.nameButton {
  display: inline-block;
  padding: 0.0vw 1.2vw;
  font-size: 1.2vw;
  border-radius: 0;
  border: 1px solid transparent;
}

.smallerHeader {
  font-size: 3vw;
}

.yellowText {
  color: yellow;
  font-style: italic;
  font-size: 1.2vw;
}

.mediumHeader {
  font-size: 4vw;
}

.nameContainer {
  display: flex;
  justify-content: center;
  gap: 10vw;
  font-size: 1.7vw;
  font-style: italic;
  font-weight: bold;
  color: yellow;
}

.grid {
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(3, 1fr);
}

.playButton {
  width: 5vw;
  height: 5vw;
  font-size: 1.5vw;
}

.gameBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vw;
}

.waiting {
  align-items: start;
  justify-content: start;
  font-size: 2vw;
  margin-top: 7vw;
  min-height: 35vh;
}

.gameFooter {
  font-size: 1.2vw;
}

.gameFooter button {
  float: left;
}

.buttonRight {
  float: right;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}